@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Mateus - Estilizando o header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  font-size: 1.6rem;
}

header {
  width: 100%;
  height: 100px;
  background-color: #151515;

}

.nav-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 0 120px;
}

.logo img {
  height: 60px;
}

.nav-wrapper .links{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-size: 2rem;
  position: relative;
}

.links li a, .links .dropdown-link a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links a:hover{
  color: #334691;
  text-shadow: white;
}

.dropdown-link {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3fc5ec;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-link:hover .dropdown-content {
  display: block;
}

.burger {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 100;
}

.burger:hover > .line {
  background-color: #31b5ff;
  transition: 0.3s;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  transition: ease-in-out 0.3s;
}

.line-2 {
  width: 80%;
}

.change .links {
  right: 0 !important;
}

.change .line {
  margin: 0;
  transition: ease-in-out 0.3s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  background-color: #31b5ff !important;
  transition: ease-in-out 0.5s;
}

.change .line-2 {
  transform: translateX(100%);
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  background-color: #31b5ff !important;
  transition: ease-in-out 0.5s;
}

.change .links{
  display: flex !important;
}

@media (max-width: 900px) {
  .nav-wrapper .links { 
    display: none;
    flex-direction: column;
  }
  .burger {
    display: flex;
    flex-direction: column;
  }
  .nav-wrapper {
    padding: 0 50px 0 50px;
  }
  .nav-wrapper .links {
    width: 40%;
    height: 100vh;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -40%;
    display: flex;
    justify-content: space-around;
    padding: 180px 0 180px 0;
    align-items: center;
    transition: right 0.8s cubic-bezier(0.6, 0, 0, 0.9);
    z-index: 99;
  }
}

@media (max-width: 400px) {
  .logo img {
    height: 50px;
  }
  .nav-wrapper {
    padding: 0 10px 0 10px;
  }
}

/*Carlos - estilização slider*/
button.slick-prev{
    font-size: 0px;
    border: none;
    border-color: transparent;
    width: 50px;
    height: 50px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/esquerda.png');
    top: 40%;
    left: 5%;
}

button.slick-next{
  font-size: 0px;
  border: none;
  border-color: transparent;
  width: 50px;
  height: 50px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url('../img/direita.png');
  top: 40%;
  right: 5%;
}

.slider-principal{
  width: 100%;
}

.slick-dots li button{
  font-size: 0px;
  border: 5px solid #fff;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li{
  display: inline-block;
  padding-left: 10px;
}

.slick-dots{
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 45%;
  top: 95%;
}

li.slick-active button {
  background: rgb(40, 60, 97);
}

.slider-principal img{
  height: calc(100vh - 100px);
}

/*Carlos - estilização home content*/
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-texto h1 {
  font-size: 30px;
  text-transform: uppercase;  
  color: #334691
}

.content-texto strong {
  color: #16114e;
}

.content-texto p {
  font-size: 15px;
  color: #534e56;
  margin-top: 1em;
}

.content-texto {
  text-align: center;
  margin-top: 3em;
}

.bloco-col {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 50vh;
  padding: 80px;
}

.col-3 img{
  border-radius: 50%;
  border: 3px solid #16114e;
}

.col-3 h3 {
  padding-top: 10px;
  padding-left: 40px;
  text-transform: uppercase;

}

.hugo h3{
  padding-left: 10px;
}

.sandy h3{
  padding-left: 50px;
}

.eli h3{
  padding-left: 30px;
}

.content-mais {
  padding: 150px 20px;
  height: 200px;
  background-color: #16114e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-h1-home {
  color: #fff;
  font-size: 30px;
}

.button-contact a {  
  font: bold 12px/24px arial, helvetica;	
  text-decoration: none;
  text-align:center;	
  color: #16114e;
  margin: 10px auto;
  background: #fff
   no-repeat center center;	
  width:120px;  
  height:30px;	
  display:flex;
  align-items: center;
  justify-content: center;
}

.button-contact a:hover { 
  background: #16114e
  center center;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 850px) {
  .bloco-col {
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
  }
}

.massadas h3{
  padding-left: 30px;
}

.lulu h3{
  padding-left: 20px;
}

.rick h3 {
  padding-left: 20px;
}

.search {
  text-align: center;
  padding-top: 30px;
  border: 0px solid transparent;
}

.search input {
  height: 36px;
  margin-top: 10px;
  padding-left: 10px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #262626 ;
  width: 190px;
}